extends layout

block content
  div(class="Subhead")
    div(class="Subhead-heading") #{title}: #{author.name}
    div(class="Subhead-description")= author.lifespan

  if author_books.length

    div.flash.flash-error Delete the following books before attempting to delete this author
    
    br
    
    div(class="Box")
      div(class="Box-header")
        h3(class="Box-title") Books
      
      ul
      each book in author_books
        li(class="Box-row")
          a(href=book.url) #{book.title}
        p.mb-2.ml-3 #{book.summary}

  else
    p Do you really want to delete this Author?

    form(method='POST' action='')
      div.form-group
        input#authorid.form-control(type='hidden',name='authorid', required='true', value=author._id )

      button.btn.btn-primary(type='submit') Delete