extends layout

block content

  div(class="Subhead")
    div(class="Subhead-heading") Genre: #{genre.name}

  div(class="Box")
    div(class="Box-header")
      h3(class="Box-title") Books
    ul
      each book in genre_books
        li(class="Box-row")
          a(href=book.url) #{book.title}
        p(class="p-3") #{book.summary}

      else
        p(class="p-2") This genre has no books

  hr
  form(action=genre.url+'/update')
    button.btn.btn-danger.btn-outline.mr-2(type='submit') Update genre
    button.btn.btn-danger.mr-2(type='submit' formaction=genre.url+'/delete') Delete genre